#conteneur-1
{
	display: flex;
	flex-direction: flex-end;
	justify-content: flex-end;
}
.element
{
	width: 120px;
	height: 30px;
}
.element:nth-child(1)
{
	flex-direction: flex-end;
	align-items: flex-end;
	
}
.element:nth-child(2)
{
	flex-direction: flex-end;
	align-items: flex-end;
}

#conteneur-2
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.element:nth-child(2)
{
	flex-direction: center;
	align-items: center;
}
.element:nth-child(3)
{
	flex-direction: center;
	align-items: center;
}